.li-shared{
    position: relative;
    cursor: default;
    list-style-type: none; 
    display:inline;
}
.ul-shared{
    position: relative;
    overflow: hidden;                
    height: auto;
    border: 1px solid #aaa;
    background-color: #fff;
    background-image: linear-gradient(#eee 1%,#fff 15%);
    margin:0px;    
}
div.select-search{
    display: inline-block;
    ul.list{
        @extend .ul-shared;
        padding:0px;
     }
     
    ul.box{
        @extend .ul-shared;
        padding: 5px 5px;        
      
        li.search{
            @extend .li-shared;
            margin:0;
            padding: 0;
            
            input{
                
                border:0px;
                margin: 0px;
                padding: 0px;
                white-space: nowrap;
                        
            } 
        }
        
        li.choice{
            @extend .li-shared;
            
            margin: 3px 3px 3px 0;
            padding: 3px 20px 3px 5px;
            border: 1px solid #aaa;
            max-width: 100%;
            border-radius: 3px;
            background-color: #eee;
            background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#eee));
            background-image: -webkit-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
            background-image: -moz-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
            background-image: -o-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
            background-image: linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
            background-size: 100% 19px;
            background-repeat: repeat-x;
            background-clip: padding-box;
            box-shadow: 0 0 2px #fff inset,0 1px 0 rgba(0,0,0,.05);
            color: #333;
        }        
    }
}

